huggingface-hub
sentence-transformers

Flask
Werkzeug
flask-cors

tiktoken
unstructured
unstructured[local-pdf]
unstructured[local-inference]

llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
torch
chromadb